.container {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  padding: 100px 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.sub {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

.sub::before {
  content: "";
  display: block;
  height: 1px;
  width: 20px;
  background-color: var(--color-text-unpainted);
}
.sub::after {
  content: "";
  display: block;
  height: 1px;
  width: 20px;
  background-color: var(--color-text-unpainted);
}

.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
@media (max-width: 640px) {
  .container {
    padding: 120px 16px;
  }
  .title {
    font-size: 2rem;
    text-align: left;
  }
  .description {
    text-align: center;
    font-size: 0.9rem;
    text-align: left;
  }
  .bgimg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 600px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
}
